@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');

*{font-family: 'Open Sans', sans-serif;}

body {
  margin:0;
  color: #112A46;
  background-color:#ACC8E5;
}

.main {
    padding:20px;
    margin-top:30px;
    max-width: 75%;
}

.card {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card a {
  text-decoration: none;
  color: #0070f0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: #fff;
  text-align: center;
  border-radius: 15px;
  background-color: #677889;
  padding: 14px 18px;
  margin-top: 5px;
  margin-left: 10px;
  margin-right: 5px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}