<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Post</title>
</head>
<body>
    <ul>
        <li><a href="/home">Home</a></li>
        <li><a href="/feed">Feed</a></li>
        <li style="float:right;"><a href="/acatia/adminPanel">Admin Panel</a></li>
    </ul>
    <div class="main">
        <a href="/feed" style="text-decoration: none;">← To feed</a>
        <h1>{{title}}</h1>
        <p>{{body}}</p>
    </div>  
</body>
</html>